
.input-ng-invalid{
    border-left: red 1px;
}
.input-ng-valid{
    border-left: green;
}
.error{
    color: red;
}
.valid{
    color:green;
}
.container-fluid{
    padding: 10px;
}
form{
    padding:10px;
top:50%;
left:50%;
}
input[type="checkbox"],input[type="radio"]{
font-size: 24px;
}
.form-control{
    border-radius: 50px;
    max-width: 50%;
    padding:30px;
}
.col-lg-4{
    padding:10px;
    margin:7px;
    font-size: 20px;
}
select{
    font-size: 20px;
    padding: 8px;
}
.form-group{
    margin: 8px;
    background-color: honeydew;
}
label{
    font-size: 20px;
    font-weight: bold;
}
